* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

header {
  background-color: #BCA37F;
  width: 100%;
  position: fixed;
  z-index: 999;
  padding: 10px 180px;
  max-height: 55px;
}

.logo {
  transition: 0.8s;
  display: flex;
  justify-content: center;
}

.logo:hover {
  transform: scale(1.1);
}

.logo a {
  font-weight: 900;
  text-decoration: none;
  color: #113946;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.8em;
}

@media (max-width: 767px) {
  header{
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .logo a{
    font-size: 1.8em;
  }
  nav {
    display: flex;
    padding-right: 0;
    font-size: 8px;
    align-items: center;
  }
  nav span {
    font-size: 15px;
    border-radius: 35px;
    padding: 5px;
    margin-left: 0;
    font-weight: 300;
  }
}

.login{
  background-color: #EAD7BB;
  min-height: 93.4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .login{
  min-height: 94.3vh;
  }
}

form{
  position: absolute;
  height: 450px;
  width: 350px;
  max-height: 100vh;
  background-color: #BCA37F;
  border: 4px solid #113946;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

form .links {
  margin: 5px 10%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

form .links a {
  text-decoration: none;
  color: #113946;
}

form .links a:hover {
  color: #EAD7BB;
}

form input {
  margin: 30px 10%;
  padding: 10px 10px;
  border-radius: 15px;
  border: none;
}
input[type="text"],[type="password"]{
  color: #113946;
  background-color: #EAD7BB;
}

input[type="submit"]{
  color: #EAD7BB;
  background-color: #113946;
  letter-spacing: .5em;
  font-weight: 600;
  transition: 1s;
}
input[type="submit"]:hover{
  background-color: #EAD7BB;
  color: #113946;
  letter-spacing: .7em;
  border: none;
  border-radius: 30px;
}

footer {
  padding: 20px 230px;
  background-color: #BCA37F;
}

@media (max-width: 767px) {
  footer{
    padding: 15px;
  }
  .footer2 {
    justify-content: space-around;
  }
  .text-footer{
    font-size: .7em;
  }
  footer .main-social a {
    font-size: 1em;
    margin-left: 15px;
  }
}

.footer2 {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.text-footer p {
  color: #113946;
  font-size: 1.2em;
}

.text-footer a {
  text-decoration: none;
  color: #FFF2D8;
}

.text-footer a:hover {
  color: #113946;
}

.main-social a {
  color: #FFF2D8;
  margin-left: 20px;
  font-size: 1.6em;
}

.main-social a:hover {
  color: #113946;
}

